* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #e74c3c;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: overlay;
}

a {
  color: inherit;
} 

::-webkit-scrollbar {
width: 6px;
height: 6px;
background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 5px;
}

::-webkit-scrollbar-thumb {
background: #e74c3c;  
border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
background: #c0392b;  
}

#root{
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}